<button class="orga-button mb-3" @onclick="AddNewChildToParent">Add</button>

<ul class="list-group">
    @foreach (var item in ParentItem.ChildItems)
    {
        <li class="list-group-item">
            <input class="form-control" type="text" @bind-value="@item.Title"/>
        </li>
    }
</ul>
